**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# load CSV
df = pd.read_csv("Resources/2016-FCC-New-Coders-Survey-Data.csv", low_memory = False)
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [3]:
# Read with pandas

In [4]:
# Inspect all columns
df.count()

Age                      13613
AttendedBootcamp         15380
BootcampFinish             933
BootcampFullJobAfter       635
BootcampLoanYesNo          934
BootcampMonthsAgo          631
BootcampName               895
BootcampPostSalary         330
BootcampRecommend          937
ChildrenNumber            2554
CityPopulation           13630
CodeEventBootcamp           42
CodeEventCoffee           2077
CodeEventConferences      2898
CodeEventDjangoGirls        18
CodeEventGameJam            22
CodeEventGirlDev           558
CodeEventHackathons       2422
CodeEventMeetup            313
CodeEventNodeSchool        480
CodeEventNone             8900
CodeEventOther             921
CodeEventRailsBridge       255
CodeEventRailsGirls         14
CodeEventStartUpWknd       743
CodeEventWomenCode         711
CodeEventWorkshop           23
CommuteTime               8339
CountryCitizen           13654
CountryLive              13610
                         ...
PodcastWebAhead             15
ResourceBlogs               30
ResourceBooks              144
ResourceCodeWars          1563
ResourceCodecademy        9586
ResourceCoursera          4844
ResourceDevTips            968
ResourceEdX               3472
ResourceEggHead             29
ResourceFCC              10937
ResourceGoogle              55
ResourceHackerRank          30
ResourceKhanAcademy       3746
ResourceLynda              150
ResourceMDN                 26
ResourceOdinProj          1687
ResourceOther             2093
ResourcePluralSight       3565
ResourceReddit              29
ResourceSkillCrush          36
ResourceSoloLearn           30
ResourceStackOverflow      191
ResourceTreehouse          422
ResourceUdacity           3306
ResourceUdemy             4130
ResourceW3Schools          121
ResourceYouTube            121
SchoolDegree             13679
SchoolMajor               8450
StudentDebtOwe            3514
Length: 113, dtype: int64

In [5]:
df.shape

(15620, 113)

In [6]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
columns = [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
extract_df = df.iloc[:, columns]
extract_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Change "0" to "No" and "1" to "Yes" in response columns
extract_df['AttendedBootcamp'] = extract_df['AttendedBootcamp'].apply(lambda x: "no" if x==0 else "yes")
extract_df.head()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,no,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,no,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [8]:
# Calculate total number of respondents in survey
total_respondents = extract_df.shape[0]

In [9]:
# Extract rows corresponding only to people who attended a bootcamp
attend_df = extract_df.loc[extract_df["AttendedBootcamp"] == "yes", :]
attend_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
58,24.0,yes,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,Macedonia,NaN,Not working but looking for work,male,NaN,10.0,NaN,NaN,bachelor's degree,Computer Science
93,32.0,yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,yes,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN

In [10]:
# Calculate average age of attendees
mean_age = attend_df["Age"].mean()
# Calculate how many people attended a bootcamp
total_attend = attend_df.shape[0]

# Calculate how many attendees hold degrees
attend_df["Degree"] = pd.Series("Yes", index=attend_df.index)

attend_df.loc[attend_df.SchoolDegree == "some college credit, no degree", "Degree"] = "No"
attend_df.loc[attend_df.SchoolDegree == "high school diploma or equivalent (GED)", "Degree"] = "No"
attend_df.loc[attend_df.SchoolDegree == "trade, technical, or vocational training", "Degree"] = "No"
attend_df.loc[attend_df.SchoolDegree == "some high school", "Degree"] = "No"
attend_df.loc[attend_df.SchoolDegree == "no high school (secondary school)", "Degree"] = "No"

coll_degree = attend_df["Degree"].value_counts(dropna = False)["Yes"]

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
male = attend_df["Gender"].value_counts()["male"]
female = attend_df["Gender"].value_counts()["female"]
nangen = len(attend_df) - attend_df['Gender'].count()
other = total_attend - (male + female + nangen)

# Calculate percentage of respondents who attended a bootcamp
pct_attend = total_attend / total_respondents

# Calculate percentage of respondents belonging to each gender
pct_male = 100 * male / total_attend
pct_female = 100 * female / total_attend
pct_other = 100 * other / total_attend

# Calculate percentage of attendees with a school degree
pct_degree = 100 * coll_degree / total_attend

# Calculate average post-bootcamp salary
mean_sal = attend_df["BootcampPostSalary"].mean()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [19]:
# Create a new table consolodating above calculations
table = pd.DataFrame = ({"Total Surveyed": [total_respondents],
                        "Total Bootcamp Atendees": [total_attend],
                        "% attneded bootcamp": [pct_attend],
                        "Avg. Age": [mean_age],
                        "% Male": [male],
                        "% Female": [female],
                        "% Non Gender": [other],
                        "Has a degree": [pct_degree],
                        "Average Post Bootcamp Salary": mean_sal})

# table = table[["Total Surveyed", "Total Bootcamp Atendees", "% attneded bootcamp", "Avg. Age", "% Male", "% Female", \
#                "% Non Gender", "Has a degree", "Average Post Bootcamp Salary"]]
table.round(2)

AttributeError: 'dict' object has no attribute 'round'

In [12]:
# Improve formatting before outputting spreadsheet

In [13]:
# Export to Excel